<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tweets</title>
        <link rel="stylesheet" type="text/css" href="style/stylePage3.css">
    </head>

    <body>
        <p class="line anim-typewriter">#GetInformed</p>
    </body>
</html>