body{
    background: #1d2838;
    font-family: 'Roboto Condensed', 'sans-serif';
}

.line {
    position: relative;
    width: 9.5em;
    font-size: 230%;
    margin: 50px 50px;
    top:50%;
    color: white;
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Anonymous Pro', monospace;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    

}


/*Animation of text*/
.anim-typewriter{
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter{
    from{
        width: 0;
    }

    to{
        width: 9.5em;
    }
}

@keyframes blinkTextCursor{
    from{
        border-right-color: rgba(255, 255, 255, 0.75);
    }

    to{
        border-right-color: transparent;
    }
}


#mapid {
    position: relative;
    width: 80%;
    margin: 100px auto 0px auto;
    height: 500px;
    border-radius: 35px;
    display: inline-block;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.actual_covid_stats{    
    border-collapse: collapse;
    min-width: 80%;
    height: 100%;
    margin: 25px auto;
    font-size: 1.3em;
    color: white;
   
    border-radius: 25px;
    border-style: none;
    overflow: hidden;

    box-shadow: 
    -5px -5px 10px rgba(80, 80, 80, 0.5), 
    5px 5px 10px rgba(70, 70, 70, 0.12),
    inset -5px -5px 10px rgba(80, 80, 80, 0.5),
    inset 5px 5px 10px rgba(70, 70, 70, 0.12);
    border: none;
}

.actual_covid_stats thead tr{
    text-align: center;
    font-weight: bold;
    padding: 12px 15px;
}

.actual_covid_stats tbody tr{
    border-bottom: 1px solid #dddddd;
}

.actual_covid_stats tbody tr:last-of-type{
    border-radius: 25px;
    border-style: none;
}

.actual_covid_stats tbody tr.active-row{
    font-weight: bold;
    color: #545f70;
}

.actual_covid_stats td{
    padding: 12px 15px;
    text-align: center;
}

/* styling the Search box */
.searchBox {
    position: absolute;
    top:20%;
    right: 15%;
    margin-bottom: 50px auto;;
    transform:  translate(15%,-70%);
    background: rgb(255, 255, 255);
    height: 40px;
    border-radius: 40px;
    padding: 10px;

}

.searchBox:hover > #searchInput {
    width: 400px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : black;
}

.searchButton {
    color: black;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

#searchInput {
    font-family: 'Anonymous Pro', monospace;
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

@media screen and (max-width: 800px) {
    .searchBox:hover > #searchInput {
        width: 150px;
        padding: 0 6px;
    }
}

/*
        <div class="tweetStream">
            <div id="tweetName"><p id="t_name"></p></div>
            <div id="tweetDate"><p id="t_date"></p></div>
            <div id="tweetText"><p id="t_text"></p></div>
        </div>
*/

#tweetStream{
    background: black;
    width: 80%;
    height: 500px;
    margin: 50px auto 50px auto;

    color: white;   
    border-radius: 25px;
    border-style: none;
    overflow-y:auto;
    padding: 0 15px;

    box-shadow: 
    -5px -5px 10px rgba(80, 80, 80, 0.5), 
    5px 5px 10px rgba(70, 70, 70, 0.12),
    inset -5px -5px 10px rgba(80, 80, 80, 0.5),
    inset 5px 5px 10px rgba(70, 70, 70, 0.12);
    border: none;
}

#tweetStream .live_tweets{
    width: 85%;
    height: auto;
    margin: 50px auto;
    overflow: hidden;  
    border-bottom: 1px solid #dddddd;
}

#tweetStream .live_tweets #tweetName{
    position: relative;
    float: left;
    margin: 0px 100px 0px auto;
    top:1%;
}

#tweetStream .live_tweets #tweetDate{
    position: relative;
    float: right;
    margin: 0px auto 0px 100px;
    top:1%;
}

#tweetText{
    position: relative;
    margin-top: 10px;
    padding:10px;
}

#tweetStream::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#tweetStream::-webkit-scrollbar
{
    width: 8px;
    border-radius: 25px;
    background-color: #F5F5F5;
}

#tweetStream::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #00acee;
}